name: CD - Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 103.31.205.98
          username: ubuntu
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/ubuntu
            if [ ! -d "cloud-fullstack-laravel" ]; then
              git clone https://github.com/galangam/laravel-cloud-devops.git cloud-fullstack-laravel
            fi

            cd cloud-fullstack-laravel/app
            git pull origin main

            docker stop laravel-app || true
            docker rm laravel-app || true

            docker build -t laravel-devops .
            docker run -d -p 80:8000 --name laravel-app laravel-devops
